<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
  <head>
    <title>Result</title>
    <link type="text/css" rel="stylesheet" href="table.css" />
  </head>
  <body>
    <div style="margin-left:275px;margin-right:auto;display:inline-block;box-shadow: 10px 10px 5px #888888;border:1px solid #000000;-moz-border-radius-bottomleft:9px;-webkit-border-bottom-left-radius:9px;border-bottom-left-radius:9px;-moz-border-radius-bottomright:9px;-webkit-border-bottom-right-radius:9px;border-bottom-right-radius:9px;-moz-border-radius-topright:9px;-webkit-border-top-right-radius:9px;border-top-right-radius:9px;-moz-border-radius-topleft:9px;-webkit-border-top-left-radius:9px;border-top-left-radius:9px;background:white">
      &nbsp;Percentage of Incidents Leading to an Arrest in {{year}} by Weather&nbsp;</div>
    <p style="bottom-margin:10px">
      <table class="CSS_Table_Example" style="width:60%;margin:auto;">
	<tr><td>Daily Average</td><td>Low Wind Rate</td><td>Moderate Wind Rate</td><td>High Wind Rate</td><td>Low Temp Rate</td><td>Moderate Temp Rate</td><td>High Temp Rate</td><td>Low Precipitation Rate</td><td>High Precipitation Rate</td></tr>


	<tr><td>{{all}}%</td><td>{{lowwind}}%</td><td>{{moderatewind}}%</td><td>{{highwind}}%</td><td>{{lowtemp}}%</td><td>{{moderatetemp}}%</td>
    </td><td>{{hightemp}}%</td><td>{{lowprecip}}%</td><td>{{highprecip}}%</td>
    </tr>
	
    </table>
    </p>
</body></html>
